.home-page {
  flex-shrink: 1 !important;
  padding: 0;
}
.home-page .btn-primary:focus {
  box-shadow: none !important;
}
.home-page .content-wrapper-home {
  margin-top: 7rem;
}
.home-page .layout-navbar {
  z-index: 1;
}
.home-page .layout-navbar input {
  width: 30rem !important;
}
