#sidebar {
  min-width: 200px;
  max-width: 220px;
  min-height: 100vh;
  background: black;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebar #sidebarCollapse {
  color: white;
  box-shadow: none;
}
#sidebar #sidebarCollapse:hover {
  background-color: rgba(240, 240, 240, 0.15);
}
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
#sidebar.active ul.components li {
  font-size: 14px;
}
#sidebar.active ul.components ul li {
  margin-left: 0px;
}
#sidebar.active ul.components li a {
  padding: 10px 0;
}
#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 17px;
}
#sidebar.active .logo {
  padding: 10px 0;
}
#sidebar.active .footer {
  display: none;
}
#sidebar .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
#sidebar ul li {
  font-size: 16px;
}
#sidebar ul li > ul {
  margin-left: 10px;
}
#sidebar ul li > ul li {
  font-size: 14px;
  margin-left: 10px;
  width: 100%;
}
#sidebar ul li a {
  padding: 10px 5px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a span {
  margin-right: 15px;
}
@media (max-width: 991.98px) {
  #sidebar ul li a span {
    display: block;
  }
}
#sidebar ul li a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 991.98px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
}
.dropdown-item1 {
  text-decoration: none;
}
.dropdown-item1:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
